body {
  background: #fff;
  color: #000000;
  padding: 25px;
  font-family: 'Trebuchet MS', sans-serif;
}
title {
  color: #f0f
}
h3 {
  padding-left: 10px
}
p {
  padding-left: 20px
}
/*.education {
  background: #e5dded
}*/
